<h1><%=@character.name%></h1>
<%= link_to 'Back to campaign', campaign_path(@campaign) %>
<p>
  <%= @character.player_name %>
</p>
<p>
  <%= @character.total_experience %>
</p>
<p>
  <%= @character.race %>
</p>
<p>
  <%= @character.career %>
</p>

