<h1><%=@character.name%></h1>
<%= link_to 'Back to campaign', campaign_path(@campaign) %>
<%= link_to 'Add Duty/Obligation/Morality', new_character_responsibility_path(@character) %>
<p>
  <%= @character.player_name %>
</p>
<p>
  <%= @character.total_experience %>
</p>
<p>
  <%= @character.race %>
</p>
<p>
  <%= @character.career %>
</p>
<h1> Obligations </h1>
<% @character.obligations.each do |obligation| %>
  <p>
    <%= obligation.score %>
  </p>
  <p>
    <%= obligation.name %>
  </p>
  <p>
    <%= obligation.description %>
  </p>
<% end %>
<h1> Duties </h1>
<% @character.duties.each do |duty| %>
  <p>
    <%= duty.score %>
  </p>
  <p>
    <%= duty.name %>
  </p>
  <p>
    <%= duty.description %>
  </p>
<% end %>

<h1> Moralities</h1>
<% @character.moralities.each do |morality| %>
  <p>
    <%= morality.score %>
  </p>
  <p>
    <%= morality.name %>
  </p>
  <p>
    <%= morality.description %>
  </p>
<% end %>


